<div class="slider-area">
    <div id="slider">
        <img src="assets/client/img/slider/2.jpg" alt="slider-img" title="#caption2" />
        <img src="assets/client/img/slider/1.jpg" alt="slider-img" title="#caption1" />
        <img src="assets/client/img/slider/3.jpg" alt="slider-img" title="#caption3" />
    </div>
    <div class="nivo-html-caption" id="caption2">
        <div class="slider-progress"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-0 col-lg-8 offset-lg-1">
                    <div class="slider-text slide-two text-left">
                        <h5 class="wow slideInDown" data-wow-delay=".3s">-10% OFF THIS WEEK</h5>
                        <h1 class="wow zoomIn" data-wow-delay=".9s">Dress Shirt Nego</h1>
                        <p class="wow fadeIn" data-wow-delay="1.3s">Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie<br />consequat, vel illum dolore eu feugiat nulla
                            facilisis at vero eros.</p>
                        <div class="slider-btn-wrapper">
                            <div class="slider-btn">
                                <a href="shop.html">read more</a>
                            </div>
                            <div class="slider-btn">
                                <a href="shop.html">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nivo-html-caption" id="caption1">
        <div class="slider-progress"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-text text-center">
                        <h5 class="wow slideInDown" data-wow-delay=".3s">SALE OFF THIS WEEK</h5>
                        <h1 class="wow zoomIn" data-wow-delay=".9s">Summer Collection</h1>
                        <p class="wow fadeIn" data-wow-delay="1.3s">Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie<br />consequat, vel illum dolore eu feugiat nulla
                            facilisis at vero eros.</p>
                        <div class="slider-btn-wrapper">
                            <div class="slider-btn">
                                <a href="shop.html">read more</a>
                            </div>
                            <div class="slider-btn">
                                <a href="shop.html">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nivo-html-caption" id="caption3">
        <div class="slider-progress"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-0 col-lg-8 offset-lg-1">
                    <div class="slider-text slide-two text-left">
                        <h5 class="wow slideInDown" data-wow-delay=".3s">ONLY IN OUR STORE</h5>
                        <h1 class="wow zoomIn" data-wow-delay=".9s">Perfect Outerwear</h1>
                        <p class="wow fadeIn" data-wow-delay="1.3s">Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie<br />consequat, vel illum dolore eu feugiat nulla
                            facilisis at vero eros.</p>
                        <div class="slider-btn-wrapper">
                            <div class="slider-btn">
                                <a href="shop.html">read more</a>
                            </div>
                            <div class="slider-btn">
                                <a href="shop.html">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>