<!-- categories -->
<section id="categories">
    <div class="container">
        <div class="page-header text-center wsub">
            <h2>Shop Categories</h2>
        </div>
        <!--/ page-header -->
        <p class="title-description text-center">Proin malesuada commodo magna, eu porta nulla luctus id. Integer
            bibendum dolor id mi dignissim pulvinar. Proin tincidunt elit in augue congue efficitur.</p>
        <div class="row">

            <div *ngFor="let category of categories | slice: 1 : 4" class="col-sm-4 category">
                <a>
                    <div class="category-item">
                        <img [src]="category.image_url" alt="">
                        <div class="overlay">
                            <div class="caption">
                                <h4>{{category.name}}</h4>
                            </div>
                        </div>
                    </div><!-- / category-item -->
                </a>
            </div><!-- / category -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / categories -->

<!-- featured-products -->
<app-featured-products [products]="products"></app-featured-products>
<!-- / featured-products -->

<!-- shop 3col -->
<section id="shop">
    <div class="page-header text-center wsub">
        <h2>New Arrivals</h2>
    </div>
    <!--/ page-header -->
    <div class="container">
        <div id="grid" class="row">

            <!-- product -->
            <div *ngFor="let product of products | slice: 0: 9" class="col-xs-6 col-md-4 product">
                <a [routerLink]="[ '/products', product.id]" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="product.image_url" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a [routerLink]="[ '/products', product.id]" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">{{product.name}}</h3>
                    <h6 class="product-price">{{product?.price | currency: 'VND'}}</h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- grid-resizer -->
            <div class="col-xs-6 col-md-4 shuffle_sizer"></div>
            <!-- / grid-resizer -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / shop 3col -->

<!-- features section 3col -->
<section id="features">
    <div class="container">
        <div class="row">
            <!-- feature-block -->
            <div class="col-md-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-gift"></i>
                    </div>
                    <h5>Free Shipping</h5>
                    <p>Free Worldwide shipping</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-clock"></i>
                    </div>
                    <h5>Fast Delivery</h5>
                    <p>Ultra fast WoldWide delivery</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-exit"></i>
                    </div>
                    <h5>Money Back</h5>
                    <p>Money back guarantee</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / features section 3col -->

<!-- newsletter -->
<section id="newsletter">
    <div class="container">
        <div class="page-header text-center">
            <h2>Subscribe for Newsletter</h2>
        </div>
        <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Your email address...">
            <span class="input-group-btn">
                <button class="btn btn-primary-filled btn-left btn-newsletter btn-rounded inside" type="button"><i
                        class="lnr lnr-enter"></i><span>Subscribe</span></button>
            </span>
        </div><!-- /input-group -->
    </div><!-- / container -->
</section>
<!-- / newsletter -->