<!-- categories -->
<section id="categories">
    <div class="container">
        <div class="page-header text-center wsub">
            <h2>Shop Categories</h2>
        </div>
        <!--/ page-header -->
        <p class="title-description text-center">Proin malesuada commodo magna, eu porta nulla luctus id. Integer
            bibendum dolor id mi dignissim pulvinar. Proin tincidunt elit in augue congue efficitur.</p>
        <div class="row">

            <div class="col-sm-4 category">
                <a href="index.html">
                    <div class="category-item">
                        <img [src]="'assets/client/images/category1.jpg'" alt="">
                        <div class="overlay">
                            <div class="caption">
                                <h4>Fashion</h4>
                            </div>
                        </div>
                    </div><!-- / category-item -->
                </a>
            </div><!-- / category -->

            <div class="col-sm-4 category">
                <a href="index2.html">
                    <div class="category-item">
                        <img [src]="'assets/client/images/category2.jpg'" alt="">
                        <div class="overlay">
                            <div class="caption">
                                <h4>Furniture</h4>
                            </div>
                        </div>
                    </div><!-- / category-item -->
                </a>
            </div><!-- / category -->

            <div class="col-sm-4 category">
                <a href="index3.html">
                    <div class="category-item">
                        <img [src]="'assets/client/images/category3.jpg'" alt="">
                        <div class="overlay">
                            <div class="caption">
                                <h4>Art</h4>
                            </div>
                        </div>
                    </div><!-- / category-item -->
                </a>
            </div><!-- / category -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / categories -->

<!-- featured-products -->
<app-featured-products [products]="featuredproducts"></app-featured-products>
<!-- / featured-products -->

<!-- shop 3col -->
<section id="shop">
    <div class="page-header text-center wsub">
        <h2>New Arrivals</h2>
    </div>
    <!--/ page-header -->
    <div class="container">
        <div id="grid" class="row">

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product1.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Women's Shirt</h3>
                    <h6 class="product-price">$59</h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <span class="sale-label">SALE</span>
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product2.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Women's Shirt</h3>
                    <h6 class="product-price"><del>$49</del> <span class="sale-price">$29</span></h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product3.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Women's Shirt</h3>
                    <h6 class="product-price">$99</h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product4.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Women's Shirt</h3>
                    <h6 class="product-price">$29</h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product5.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Women's Jeans</h3>
                    <h6 class="product-price">$69</h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product6.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Women's Shirt</h3>
                    <h6 class="product-price">$39</h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product7.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Designer Watch</h3>
                    <h6 class="product-price">$599</h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product8.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Men's Gloves</h3>
                    <h6 class="product-price">$199</h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- product -->
            <div class="col-xs-6 col-md-4 product">
                <span class="sale-label">SALE</span>
                <a href="single-product.html" class="product-link"></a>
                <!-- / product-link -->
                <img [src]="'assets/client/images/f-product9.jpg'" alt="">
                <!-- / product-image -->

                <!-- product-hover-tools -->
                <div class="product-hover-tools">
                    <a href="single-product.html" class="view-btn">
                        <i class="lnr lnr-eye"></i>
                    </a>
                    <a href="shopping-cart.html" class="add-to-cart">
                        <i class="lnr lnr-cart"></i>
                    </a>
                </div><!-- / product-hover-tools -->

                <!-- product-details -->
                <div class="product-details">
                    <h3 class="product-title">Leather Bag</h3>
                    <h6 class="product-price"><del>$149</del> <span class="sale-price">$79</span></h6>
                </div><!-- / product-details -->
            </div><!-- / product -->

            <!-- grid-resizer -->
            <div class="col-xs-6 col-md-4 shuffle_sizer"></div>
            <!-- / grid-resizer -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / shop 3col -->

<!-- features section 3col -->
<section id="features">
    <div class="container">
        <div class="row">
            <!-- feature-block -->
            <div class="col-md-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-gift"></i>
                    </div>
                    <h5>Free Shipping</h5>
                    <p>Free Worldwide shipping</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-clock"></i>
                    </div>
                    <h5>Fast Delivery</h5>
                    <p>Ultra fast WoldWide delivery</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-md-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-exit"></i>
                    </div>
                    <h5>Money Back</h5>
                    <p>Money back guarantee</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / features section 3col -->

<!-- newsletter -->
<section id="newsletter">
    <div class="container">
        <div class="page-header text-center">
            <h2>Subscribe for Newsletter</h2>
        </div>
        <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Your email address...">
            <span class="input-group-btn">
                <button class="btn btn-primary-filled btn-left btn-newsletter btn-rounded inside" type="button"><i
                        class="lnr lnr-enter"></i><span>Subscribe</span></button>
            </span>
        </div><!-- /input-group -->
    </div><!-- / container -->
</section>
<!-- / newsletter -->

<!-- brands carousel -->
<section id="brands">
    <h2 class="hidden">&nbsp;</h2>
    <div class="container">
        <div id="brands-carousel" class="owl-carousel">
            <div class="item"><img [src]="'assets/client/images/brand1.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand2.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand3.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand4.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand5.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand6.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand7.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand8.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand9.png'" alt=""></div>
            <div class="item"><img [src]="'assets/client/images/brand10.png'" alt=""></div>
        </div>
    </div><!-- / container -->
</section>
<!-- / brands carousel -->