<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">Danh sách sản phẩm</div>
            <div class="box-body">
                <table *ngIf="productsList" datatable class="table table-brodered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Mô tả</th>
                            <th>Ảnh đại diện</th>
                            <th>Danh mục</th>
                            <th>Ngày đăng</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let product of productsList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index; trackBy: trackProductByFn;">
                            <td>{{ (page-1) * pageSize + i +1 }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price | currency: 'VND' }}</td>
                            <td>{{ product.description }}</td>
                            <td><img [src]="product.image_url" width="50px" [alt]="product.name" /></td>
                            <th>{{product.categories?.name}}</th>
                            <td>{{ product.created_at.toDate() | date }}</td>
                            <td>
                                <a [routerLink]="[ '/admin', 'products', product.id, 'edit' ]"
                                    class="btn btn-success btn-sm"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                <button (click)="deleteProductById(product.id)" class="btn btn-primary btn-sm"><i
                                        class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="productsList.length">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>