<ngb-carousel *ngIf="carousels">
    <ng-template ngbSlide *ngFor="let carousel of carousels" [style.display]="'none'">
        <div class="picsum-img-wrapper">
            <img [src]="carousel.image_url" [alt]="carousel.name">
        </div>
        <div class="carousel-caption">
            <h3 class="slide-title fadeInDown animated first">
                {{ carousel.title }}
            </h3>
            <p class="slide-text flipInX animated second">{{ carousel.description }}</p>
            <a href="{{ carousel.link_detail }}" class="btn btn-lg btn-primary-filled btn-pill fadeInUp animated third">
                <i class="lnr lnr-store"></i> <span>Visit Shop</span>
            </a>
        </div>
    </ng-template>
</ngb-carousel>
