<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">Create Products</div>
            <div class="box-body">
                <form [formGroup]="updatePform" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="hidden" formControlName="id" class="form-control">
                        <input type="text" formControlName="name" class="form-control">
                        <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors?.required">Không để trống tên sản phẩm</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" formControlName="price" class="form-control">
                        <div *ngIf="f.price.touched && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors?.required">Không để trống giá sản phẩm</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="categories">Danh mục</label>
                        <select formControlName="categories" class="form-control">
                            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                        </select>
                        <div *ngIf="f.categories.touched && f.categories.errors" class="invalid-feedback">
                            <div *ngIf="f.categories.errors?.required">Không để trống danh mục</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea formControlName="description" class="form-control" cols="5" rows="5">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!updatePform.valid || submitted"
                            class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>