<section id="featured-products">
    <div class="page-header text-center wsub">
        <h2>Featured Products</h2>
    </div>
    <!--/ page-header -->
    <owl-carousel-o [id]="'products-carousel'">
        <ng-container *ngFor="let product of products | slice: 0: 10">
            <ng-template carouselSlide [id]="product.id">
                <div class="item product">
                    <!-- <span class="sale-label">SALE</span> -->
                    <!-- / sale-label -->
                    <a [routerLink]="[ '/products', product.id]" class="product-link"></a>
                    <!-- / product-link -->
                    <img [src]="product.image_url" alt="">
                    <!-- / product-image -->
                    <!-- product-details -->
                    <div class="product-details">
                        <h3 class="product-title">{{ product.name }}</h3>
                        <h6 class="product-price">
                            <span class="sale-price">{{ product.price | currency: 'VND' }}</span>
                        </h6>
                    </div><!-- / product-details -->
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>
<!-- / featured-products -->